<ion-content class="ion-padding">
  <app-back-button path="/onboarding-2"></app-back-button>

  <div class="ion-text-center">
    <p class="text-head">
      Missed Us?<br>
      <strong>Sign in to continue</strong>
    </p>

    <h2>
      <span class="title">DejaBrew</span>
      <img src="assets/images/CoffeeBean.png" alt="Logo" class="h2-image" />
    </h2>

    <ion-card class="card-padding">
      <!-- Email Input Field -->
      <div class="input-container">
        <label for="email">Email:</label>
        <input id="email" type="email" placeholder="Enter your email" class="custom-input email-input"
          [(ngModel)]="credentials.email" name="email" #emailInput="ngModel" required email />
        <small class="error-message" *ngIf="emailError">
          {{ emailError }}
        </small>
      </div>

      <!-- Password Input Field -->
      <div class="input-container">
        <label for="password">Password:</label>
        <input id="password" [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password"
          class="custom-input password-input" [(ngModel)]="credentials.password" name="password"
          #passwordInput="ngModel" required />
        <span class="eye-icon" (click)="togglePasswordVisibility()">
          <ion-icon [name]="showPassword ? 'eye' : 'eye-off'" size="medium"></ion-icon>
        </span>
        <small class="error-message" *ngIf="passwordError">
          {{ passwordError }}
        </small>
      </div>

      <p id="message" [class.error]="isError" [class.success]="!isError" *ngIf="message">
        {{ message }}
      </p>

      <div class="forgot-password">
        <a routerLink="/forgot-password" class="forgot-password">Forgot Password?</a>
      </div>

      <!-- Custom Button Component -->
      <app-custom-button text="Sign In" customClass="signInButton"
        (click)="proceed()"></app-custom-button>

      <div class="or-section">
        <p>or</p>
      </div>

      <div class="social-icons">
        <ion-icon id="open-modal" name="logo-facebook" (click)="openModal('facebook.com')"></ion-icon>
        <ion-icon name="logo-instagram" (click)="openModal('instagram.com')"></ion-icon>
        <ion-icon name="logo-google" (click)="openModal('google.com')"></ion-icon>
      </div>
    </ion-card>

    <p class="signUp">Don't have an account? <a routerLink="/signup">Register.</a></p>
  </div>

  <!-- Modal -->
  <div class="modal-overlay" *ngIf="isModalVisible" (click)="dismissModal()"></div>
  <div class="modal-container" *ngIf="isModalVisible">
    <div class="modal-content">
      <div class="modal-logo">
        <ion-icon [name]="platformLogo" [style.color]="platformColor" class="logomodal"></ion-icon>
      </div>

      <h2 class="modal-title">DejaBrew wants to use "{{ platform }}" to sign in</h2>
      <p class="modal-text">
        This allows the app and website to share information about you.
      </p>

      <div class="modal-buttons">
        <ion-button expand="block" fill="outline" (click)="dismissModal()">Cancel</ion-button>
        <app-custom-button text="Continue" customClass="signInButton"
          (click)="socialLogin(platform)"></app-custom-button>
      </div>
    </div>
  </div>
</ion-content>